
<h1> Overview </h1>
<p> In this use case you have to solve a machine learning problem applied to the utilities world.</p>

<h2> Use Case Description </h2>
<p> You have a sample of data from electricity metrics of a 25 of condos in Ecuador available. 
	Data are detected every 15 minutes and there are two years of historical depth available.

	SDG will guide you through the main phases of a company project, from data mapping to data exploration, from forecast to results' interpretation.
	We will understand together how to apply theoretical knowledge to specific busisess requirements.
</p>
	
<h2> Goal </h2>	
<p> The goal of this project is to forecast the electricity demand for one week, with 15 minutes frequency.</p>



<h2> Data </h2>	
<p> Data are available at this link https://github.com/noemi-galli-sdg/SDG-Challenge , the file with training data is data_history.csv, download it and start your challenge.</p>


