<p> Submit your results in csv format.
	The file must have three columns, separated by semicolon (;), we do not expect any other symbol (such as quoted names "like this").
	The header must be: date, value, meter.
	The date must have the following format: yyyy-mm-dd hh:mm.
	
	Each participant can submit at most 10 results file.
	
	It is important that you submit your result in this format, otherwise we cannot evaluate it.
	
	Example of the head of submission file is:
	
	date;value;meter
	2019-12-23 23:15;999.99;1354687
	2019-12-23 23:30;999.99;1354687
	2019-12-23 23:45;999.99;1354687
	
	</p>
	